/**
 * Copyright Ben Stones, 2016. All rights reserved.
 *
 * @author Ben Stones (ben@b3ns.com)
 *
 * Do not use in your own projects without prior permission.
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #555;
    background-color: #f9f9f9;
    text-align: center;
}

a:link {
    color: #555;
    padding-bottom: 1px;
    text-decoration: none;
    border-bottom: 1px dashed #555;
}

a:visited {
    color: #555;
    border-bottom: 1px dashed #555;
}

a:hover {
    color: #777;
    border-color: #7e7e7e;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

div#main {
    padding-top: 200px;
    max-width: 750px;
    margin: auto;
}

div#main > h1 {
    margin: 0 0 25px 0;
    font-size: 50px;
    font-weight: 200;
}

div#main > form {
    margin-bottom: 20px;
}

div#main > form > p > input {
    width: 100%;
    font-size: 28px;
    padding: 15px 18px;
    font-weight: 300;
    color: #555;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius 3px;
    border-radius: 3px;
    border: 1px solid #bebebe;
    box-shadow: inset 1px 1px 2px 0px #efefef;
}

div#main > form > p > input:hover {
    border-color: #9a9a9a;
}

div#main > form > p > input:focus {
    border-color: #9a9a9a;
}

div#main > div#result {
    margin-bottom: 20px;
    display: none;
    font-size: 14px;
}

div#main > div#result > p {
    margin: 0;
    font-size: 22px;
    line-height: 155%;
}

div#main > div#options {
    margin-bottom: 20px;
}

div#main > div#options > ul {
    padding-left: 0;
    font-size: 0;
}

div#main > div#options > ul > li {
    display: inline-block;
    list-style-type: none;
}

div#main > div#options > ul > li > a {
    display: block;
    width: 200px;
    font-size: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    border-bottom: 0;
    color: #000;
    background-color: #ccc;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -ms-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
}

div#main > div#options > ul > li.active > a {
    color: #fff;
    background-color: #555;
}

div#main > div#options > ul > li:not(.active) > a:active {
    background-color: #dedede;
}

div#main > div#options > ul > li:first-child > a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

div#main > div#options > ul > li:last-child > a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

div#main > div#copyright > p {
    margin: 0;
}

@media (max-width: 800px) {
    div#main {
        padding-left: 30px;
        padding-right: 30px;
    }

    div#main > h1 {
        margin: 0 0 20px 0;
        font-size: 35px;
    }

    div#main > form > p > input {
        padding: 10px;
        font-size: 21px;
    }

    div#main > div#result > p {
        font-size: 17px;
    }

    div#main > div#options > ul > li > a {
        width: 150px;
        font-size: 14px;
    }

    div#main > div#copyright > p {
        font-size: 15px;
    }
}


@media (max-width: 400px) {
    div#main {
        padding-left: 30px;
        padding-right: 30px;
    }

    div#main > h1 {
        margin: 0 0 10px 0;
        font-size: 28px;
    }

    div#main > form > p > input {
        padding: 10px;
        font-size: 21px;
    }

    div#main > div#result > p {
        font-size: 17px;
    }

    div#main > div#options > ul > li > a {
        width: 100px;
        font-size: 13px;
        padding-top: 8px;
    }

    div#main > div#copyright > p {
        font-size: 14px;
    }
}
